.page {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-6);
}

.header {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4);
}

.filterSection {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-3);
}

.primaryFilterList {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-4);
}

.secondaryFilterList {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-4);
}
