@use "@track-my-life/ui/src/styles/breakpoints";

.page {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-6);
}

.header {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-3);

  @include breakpoints.media-m {
    gap: var(--spacing-4);
  }
}

.actionList {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-2);
}

.buttonLabel {
  display: none;

  @include breakpoints.media-m {
    display: inline;
  }
}

.filterSection {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-3);
}

.primaryFilterList {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-4);
}

.secondaryFilterList {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-4);
}
