.label {
  display: flex;

  align-items: center;
  gap: var(--spacing-2);

  font-family: var(--default-font-family);
  font-size: var(--font-body-m-size);
  font-weight: var(--font-weight-medium);
  line-height: 1;

  cursor: pointer;
  user-select: none;
}

.disabled {
  pointer-events: none;

  opacity: 0.5;
}

.peerDisabled {
  cursor: not-allowed;

  opacity: 0.5;
}
