.card {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-6);

  padding: var(--spacing-6) 0;

  color: var(--on-surface);

  background-color: var(--surface);
  border: 1px solid var(--outline-variant);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadows-1);
}

.cardHeader {
  display: grid;

  grid-template-rows: auto auto;

  align-items: start;
  gap: var(--spacing-2);

  padding: 0 var(--spacing-6);

  &.withAction {
    grid-template-columns: 1fr auto;
  }

  &.borderBottom {
    padding-bottom: var(--spacing-6);

    border-bottom: 1px solid var(--outline-variant);
  }
}

.cardDescription {
  color: var(--on-surface-variant);
}

.cardAction {
  grid-row: 1 / 3;
  grid-column-start: 2;
  place-self: start end;
}

.cardContent {
  padding: 0 var(--spacing-6);
}

.cardFooter {
  display: flex;

  align-items: center;

  padding: 0 var(--spacing-6);

  &.borderTop {
    padding-top: var(--spacing-6);

    border-top: 1px solid var(--outline-variant);
  }
}
