@use "../../../styles/mixins";

.root {
  display: inline-flex;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  cursor: pointer;

  background-color: var(--surface);
  border: 2px solid var(--outline);
  border-radius: var(--radius-sm);

  transition:
    background-color 0.15s ease,
    border-color 0.15s ease;

  @include mixins.hover {
    border-color: var(--primary);
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &[data-state="checked"],
  &[data-state="indeterminate"] {
    color: var(--on-primary);

    background-color: var(--primary);
    border-color: var(--primary);
  }

  &[data-disabled] {
    cursor: not-allowed;

    opacity: 0.5;
  }
}

.error {
  border-color: var(--error);

  &[data-state="checked"],
  &[data-state="indeterminate"] {
    background-color: var(--error);
    border-color: var(--error);
  }
}

.indicator {
  display: flex;

  align-items: center;
  justify-content: center;
}

.checkIcon {
  display: none;
}

.indeterminateIcon {
  display: none;
}

.root[data-state="checked"] .checkIcon {
  display: block;
}

.root[data-state="indeterminate"] .indeterminateIcon {
  display: block;
}
