.main {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  padding: var(--spacing-4);
}

.card {
  width: 100%;
  max-width: 28rem;
}

.cardContent {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-6);
}

.footerText {
  text-align: center;
  color: var(--on-surface-variant);
}
