NEXT_PUBLIC_API_BASE_URL="http://localhost:8080"

# JWT Configuration the same as on the backend
JWT_SECRET=
JWT_ISSUER="optional, only in case backend set it"
JWT_AUDIENCE="optional, only in case backend set it"
