.root {
  position: relative;

  display: flex;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  overflow: hidden;

  color: var(--on-surface);

  background-color: var(--surface-container-high);
  border-radius: var(--radius-full);
}

.sm {
  width: 32px;
  height: 32px;
}

.lg {
  width: 48px;
  height: 48px;
}

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.fallback {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: var(--default-font-family);
  font-size: var(--font-body-m-size);
  font-weight: var(--font-weight-medium);
  line-height: 1;
}
