.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
