:root {
  --purple-0: #000000;
  --purple-5: #160041;
  --purple-10: #22005d;
  --purple-15: #2d1067;
  --purple-20: #381e72;
  --purple-25: #432b7e;
  --purple-30: #4f378a;
  --purple-35: #5b4397;
  --purple-40: #6750a4;
  --purple-50: #8069bf;
  --purple-60: #9a83db;
  --purple-70: #b69df7;
  --purple-80: #cfbcff;
  --purple-90: #e9ddff;
  --purple-95: #f6eeff;
  --purple-98: #fdf7ff;
  --purple-99: #fffbff;
  --purple-100: #ffffff;
  --slate-0: #000000;
  --slate-5: #130e20;
  --slate-10: #1e192b;
  --slate-15: #282336;
  --slate-20: #332d41;
  --slate-25: #3e384d;
  --slate-30: #4a4459;
  --slate-35: #564f65;
  --slate-40: #625b71;
  --slate-50: #7b738b;
  --slate-60: #958da5;
  --slate-70: #b0a7c0;
  --slate-80: #ccc2dc;
  --slate-90: #e8def9;
  --slate-95: #f6eeff;
  --slate-98: #fdf7ff;
  --slate-99: #fffbff;
  --slate-100: #ffffff;
  --pink-0: #000000;
  --pink-5: #240612;
  --pink-10: #31101d;
  --pink-15: #3d1b27;
  --pink-20: #4a2532;
  --pink-25: #56303d;
  --pink-30: #633b48;
  --pink-35: #704654;
  --pink-40: #7e5260;
  --pink-50: #996a78;
  --pink-60: #b58392;
  --pink-70: #d29dac;
  --pink-80: #efb8c8;
  --pink-90: #ffd9e3;
  --pink-95: #ffecf0;
  --pink-98: #fff8f8;
  --pink-99: #fffbff;
  --pink-100: #ffffff;
  --gray-0: #000000;
  --gray-5: #111111;
  --gray-10: #1c1b1c;
  --gray-15: #262526;
  --gray-20: #313030;
  --gray-25: #3c3b3b;
  --gray-30: #484646;
  --gray-35: #545252;
  --gray-40: #605e5e;
  --gray-50: #797676;
  --gray-60: #939090;
  --gray-70: #adaaaa;
  --gray-80: #c9c6c5;
  --gray-90: #e5e1e1;
  --gray-95: #f4f0ef;
  --gray-98: #fdf8f8;
  --gray-99: #fffbff;
  --gray-100: #ffffff;
  --gray-variant-0: #000000;
  --gray-variant-5: #111112;
  --gray-variant-10: #1c1b1c;
  --gray-variant-15: #262526;
  --gray-variant-20: #313031;
  --gray-variant-25: #3c3b3c;
  --gray-variant-30: #484647;
  --gray-variant-35: #545253;
  --gray-variant-40: #605e5f;
  --gray-variant-50: #797677;
  --gray-variant-60: #939091;
  --gray-variant-70: #aeaaab;
  --gray-variant-80: #c9c5c6;
  --gray-variant-90: #e6e1e2;
  --gray-variant-95: #f4f0f0;
  --gray-variant-98: #fdf8f9;
  --gray-variant-99: #fffbff;
  --gray-variant-100: #ffffff;
}
